<div class="image-upload">
	<h3>{{label}}</h3>
	{{#if file}}
		{{#if imageThumbnail}}
			<div class="image-thumbnail">
				<span class="glyphicon glyphicon-remove" {{action "removeImage"}}></span>
				<img {{bind-attr src="imageThumbnail"}} />
			</div>
		{{/if}}
	{{else}}
		<div class="image-outline">
			<p>Drag / Touch / Click</p>
		</div>
	{{/if}}
	{{#if progress}}
		<progress min="0" max="100" {{bind-attr value="progress"}}></progress>
	{{/if}}
	<div>
		<label>URL</label>
		{{input type="text" value=fileUrl class="url-input"}}
	</div>
	<div>
		<input type="file" class="file-input-field" />
	</div>
	{{#if errorMessage}}
		<p class="error-message">{{errorMessage}}</p>
	{{/if}}
</div>